@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.ttf");
}

@font-face {
  font-family: "Light";
  src: url("/fonts/light.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.ttf");
}

@theme {
  --color-primary: #DAD7D2;
  --color-secondary: #72716E;
  --color-backgroundsecondary: #101010;
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-light: "Light";
  --font-bold: "Bold";
}


:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #BAB8B3;
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

